swagger: "2.0"
info:
  description: "Provides a RESTful API for interacting with Smartsplit"
  version: "v1"
  title: "Smartsplit API"
  x-origin:
  - format: "yaml"
    url: "https://raw.githubusercontent.com/iptoki/smartsplit/develop/api/swagger.yaml"
  x-providerName: "smartsplit.org"
  x-logo:
    url: "http://smartsplit.org/wp-content/uploads/2019/05/Logo-v02-005-noir.png"
host: "api.smartsplit.org:8080"
basePath: "/v1"
tags:
- name: "Authentication Details"
  description: "Obtaining and refreshing your JWT token"
- name: "Right Holders"
  description: "Viewing and creating right holder profiles"
- name: "Rights Split"
  description: "Viewing and creating splits for a given right holder profile"
- name: "Splits"
  description: "Viewing and creating splits for a given media"
- name: "Media"
  description: "Viewing and creating media"
- name: "Payments"
  description: "Viewing and updating payment details"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- jwt: []
paths:
  /auth:
    post:
      tags:
      - "Authentication Details"
      description: "Get a JWT token for the rest of the requests"
      operationId: "postAuth"
      parameters:
      - in: "body"
        name: "auth"
        description: "JSON string containing your authentication details"
        required: true
        schema:
          $ref: "#/definitions/auth"
      responses:
        200:
          description: "OK. JWT returned for use with the rest of the API requests"
          schema:
            $ref: "#/definitions/authResult"
        401:
          description: "Invalid credentials and/or API token"
      x-swagger-router-controller: "AuthenticationDetails"
  /refreshToken:
    get:
      tags:
      - "Authentication Details"
      description: "Refreshes your current, valid JWT token"
      operationId: "getRefreshToken"
      parameters: []
      responses:
        200:
          description: "OK. JWT returned to use in your subsequent requests"
          schema:
            $ref: "#/definitions/authResult"
        401:
          description: "JWT token is missing or expired"
      security:
      - jwt: []
      x-swagger-router-controller: "AuthenticationDetails"
  /splits:
    get:
      tags:
      - "Splits"
      description: "Get a list of all media splits"
      operationId: "getAllSplits"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/listSplits"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Splits"
    post:
      tags:
      - "Splits"
      description: "This method creates a new split for a given media"
      operationId: "postSplit"
      parameters:
      - in: "body"
        name: "body"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/splits"
      responses:
        200:
          description: "OK. The split was created."
          schema:
            $ref: "#/definitions/splits"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Splits"
  /splits/{uuid}:
    get:
      tags:
      - "Splits"
      description: "Get a split with the given ID"
      operationId: "getSplit"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The split's unique  ID"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/splits"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Splits"
    put:
      tags:
      - "Splits"
      description: "This method updates a split"
      operationId: "updateSplit"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The splits unique profile ID"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/splits"
      responses:
        200:
          description: "OK. The split was created."
          schema:
            $ref: "#/definitions/splits"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Splits"
    delete:
      tags:
      - "Splits"
      description: "Delete a right holder's profile with the given ID"
      operationId: "deleteSplit"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The splits's unique profile ID"
        required: true
        type: "string"
      responses:
        200:
          description: "OK. Splits deleted."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Splits"
  /splits/{uuid}/emailToken:
    patch:
      tags:
      - "Splits"
      description: "Update email token for given split"
      operationId: "patchSplitEmailToken"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The split's unique ID"
        required: true
        type: "string"
      - in: "body"
        name: "emailToken"
        description: "The split's email token"
        required: true
        schema:
          $ref: "#/definitions/splits/properties/emailToken"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              emailToken:
                type: "string"
                example: "45745c60-7b1a-11e8-9c9c-2d42b21b1a3e"
                description: "The email token for the given split"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Splits"
  /splits/{uuid}/mediaId:
    patch:
      tags:
      - "Splits"
      description: "Update mediaId for given split"
      operationId: "patchSplitMediaId"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The split's unique ID"
        required: true
        type: "string"
      - in: "body"
        name: "mediaId"
        description: "The split's email token"
        required: true
        schema:
          $ref: "#/definitions/splits/properties/mediaId"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              mediaId:
                type: "integer"
                example: 1
                description: "The mediaId for the given split"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Splits"
  /splits/{uuid}/splitType:
    patch:
      tags:
      - "Splits"
      description: "Update split type for a given split"
      operationId: "patchSplitType"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The split's unique ID"
        required: true
        type: "string"
      - in: "body"
        name: "splitType"
        description: "The split type of the split"
        required: true
        schema:
          $ref: "#/definitions/splits/properties/splitType"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              splitType:
                type: "array"
                example: ["workCopyrightSplit"]
                description: "The split type of the given split"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Splits"
  /rightsSplit:
    get:
      tags:
      - "Rights Split"
      description: "Get a list of all rights splits"
      operationId: "getAllRightsSplits"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/rightsSplits"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Rights Split"
    post:
      tags:
      - "Rights Split"
      description: "This method creates a new rights split for a given right holder"
      operationId: "postRightsSplit"
      parameters:
      - in: "body"
        name: "body"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/rightsSplits"
      responses:
        200:
          description: "OK. The rights split was created."
          schema:
            $ref: "#/definitions/rightsSplits"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Rights Split"
  /rightsSplit/{id}:
    get:
      tags:
      - "Rights Split"
      description: "Get a rights split with the given ID"
      operationId: "getRightsSplit"
      parameters:
      - name: "id"
        in: "path"
        description: "The split's unique ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/rightsSplit"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Rights Split"
    put:
      tags:
      - "Rights Split"
      description: "This method updates a rights split"
      operationId: "updateRightsSplit"
      parameters:
      - name: "id"
        in: "path"
        description: "The splits unique id"
        required: true
        type: "integer"
      - in: "body"
        name: "body"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/rightsSplit"
      responses:
        200:
          description: "OK. The rights split was created."
          schema:
            $ref: "#/definitions/rightsSplit"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Rights Split"
    delete:
      tags:
      - "Rights Split"
      description: "Delete a right split with the given ID"
      operationId: "deleteRightsSplit"
      parameters:
      - name: "id"
        in: "path"
        description: "The split's unique profile ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK. Right Split deleted."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Rights Split"
  /rightsSplit/{id}/splitUuid:
    patch:
      tags:
      - "Rights Split"
      description: "Update split uuid for given rights split"
      operationId: "patchRightsSplitSplitUuid"
      parameters:
      - name: "id"
        in: "path"
        description: "The rights split's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "splitUuid"
        description: "The uuid of the split for the given rights split"
        required: true
        schema:
          $ref: "#/definitions/rightsSplit/properties/splitUuid"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              splitUuid:
                type: "string"
                example: "45745c60-7b1a-11e8-9c9c-2d42b21b1a3e"
                description: "The split uuid for the given rights split"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Rights Split"
  /rightsSplit/{id}/rightHolderId:
    patch:
      tags:
      - "Rights Split"
      description: "Update right holder for given rights split"
      operationId: "patchRightsSplitRightHolder"
      parameters:
      - name: "id"
        in: "path"
        description: "The rights split's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "rightHolderId"
        description: "The split's email token"
        required: true
        schema:
          $ref: "#/definitions/rightsSplit/properties/rightHolderId"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              rightHolderId:
                type: "integer"
                example: 2
                description: "The right holder id for the given rights split"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Rights Split"
  /rightsSplit/{id}/splitPct:
    patch:
      tags:
      - "Rights Split"
      description: "Update split percentage for given rights split"
      operationId: "patchRightsSplitPct"
      parameters:
      - name: "id"
        in: "path"
        description: "The split's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "splitPct"
        description: "The split percentage for the given rights split"
        required: true
        schema:
          $ref: "#/definitions/rightsSplit/properties/splitPct"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              splitPct:
                type: "number"
                example: 41.6667
                description: "The split percentage for the given rights split"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Rights Split"
  /rightsSplit/{id}/state:
    patch:
      tags:
      - "Rights Split"
      description: "Update state for a given rights split"
      operationId: "patchRightsSplitState"
      parameters:
      - name: "id"
        in: "path"
        description: "The split's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "state"
        description: "The state of the rights split"
        required: true
        schema:
          $ref: "#/definitions/rightsSplit/properties/state"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              state:
                type: "string"
                example: "active"
                description: "The state of the given rights split"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Rights Split"
  /rightsSplit/{id}/roles:
    patch:
      tags:
      - "Rights Split"
      description: "Update roles of the right holder for a given rights split"
      operationId: "patchRightsSplitRoles"
      parameters:
      - name: "id"
        in: "path"
        description: "The rights split's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "roles"
        description: "The roles array of the given rights split for the right holder"
        required: true
        schema:
          $ref: "#/definitions/rightsSplit/properties/roles"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              roles:
                type: "object"
                example: {"45745c60-7b1a-11e8-9c9c-2d42b21b1a3e": "writer"}
                description: "The roles of the right holder for the given rights split"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Splits"
  /rightHolders:
    get:
      tags:
      - "Right Holders"
      description: "Get a list of all right holder profiles"
      operationId: "getAllRightHolders"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/rightHolders"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Right Holders"
    post:
      tags:
      - "Right Holders"
      description: "This method creates a new right holder profile"
      operationId: "postRightHolder"
      parameters:
      - in: "body"
        name: "body"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/rightHolder"
      responses:
        200:
          description: "OK. The right holder profile was created."
          schema:
            $ref: "#/definitions/rightHolder"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Right Holders"
  /rightHolders/{rightHolderId}:
    get:
      tags:
      - "Right Holders"
      description: "Get a right holder's profile with the given ID"
      operationId: "getRightHolder"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The rights holder's unique profile ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/rightHolder"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Right Holders"
    put:
      tags:
      - "Right Holders"
      description: "This method updates a right holder profile"
      operationId: "updateRightHolder"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The rights holder's unique profile ID"
        required: true
        type: "integer"
      - in: "body"
        name: "body"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/rightHolder"
      responses:
        200:
          description: "OK. The right holder profile was created."
          schema:
            $ref: "#/definitions/rightHolder"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Right Holders"
    delete:
      tags:
      - "Right Holders"
      description: "Delete a right holder's profile with the given ID"
      operationId: "deleteRightHolder"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The rights holder's unique profile ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK. Right holder profile deleted."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Right Holders"
  /rightHolders/{rightHolderId}/firstName:
    patch:
      tags:
      - "Right Holders"
      description: "Update right holder's first name with the given ID"
      operationId: "patchRightHolderFirstName"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The rights holder's unique profile ID"
        required: true
        type: "integer"
      - in: "body"
        name: "firstName"
        description: "The rights holder's first name"
        required: true
        schema:
          $ref: "#/definitions/rightHolder/properties/firstName"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              firstName:
                type: "string"
                example: "John"
                description: "The right holder's first name"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Right Holders"
  /rightHolders/{rightHolderId}/lastName:
    patch:
      tags:
      - "Right Holders"
      description: "Update right holder's last name with the given ID"
      operationId: "patchRightHolderLastName"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The rights holder's unique profile ID"
        required: true
        type: "integer"
      - in: "body"
        name: "lastName"
        description: "The rights holder's last name"
        required: true
        schema:
          $ref: "#/definitions/rightHolder/properties/lastName"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              lastName:
                type: "string"
                example: "Smith"
                description: "The right holder's last name"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Right Holders"
  /rightHolders/{rightHolderId}/email:
    patch:
      tags:
      - "Right Holders"
      description: "Update right holder's email address with given ID"
      operationId: "patchRightHolderEmail"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The right holder's unique profile ID"
        required: true
        type: "integer"
      - in: "body"
        name: "email"
        description: "The rights holder's email address"
        required: true
        schema:
          $ref: "#/definitions/rightHolder/properties/email"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              email:
                type: "string"
                example: "bob.andrews@example.com"
                description: "The right holder's email address"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Right Holders"
  /rightHolders/{rightHolderId}/password:
    patch:
      tags:
      - "Right Holders"
      description: "Update right holder's password with given ID"
      operationId: "patchRightHolderPassword"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The right holder's unique profile ID"
        required: true
        type: "integer"
      - in: "body"
        name: "password"
        description: "The rights holder's password"
        required: true
        schema:
          $ref: "#/definitions/rightHolder/properties/password"
      responses:
        200:
          description: "OK. Password updated"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Right Holders"
  /rightHolders/{rightHolderId}/ipi:
    patch:
      tags:
      - "Right Holders"
      description: "Update right holder's IPI number"
      operationId: "patchRightHolderIPI"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The right holder's unique profile ID"
        required: true
        type: "integer"
      - in: "body"
        name: "ipi"
        description: "The right holder's IPI number"
        required: true
        schema:
          $ref: "#/definitions/rightHolder/properties/ipi"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              ipi:
                type: "string"
                example: "00004576"
                description: "The right holder's interested party information number"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Right Holders"
  /rightHolders/{rightHolderId}/jurisdiction:
    patch:
      tags:
      - "Right Holders"
      description: "Update the jurisdiction for the given right holder"
      operationId: "patchRightHolderJurisdiction"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "jurisdiction"
        description: "The jurisdiction of the given right holder"
        required: true
        schema:
          $ref: "#/definitions/rightHolder/properties/jurisdiction"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              jurisdiction:
                type: "string"
                example: "Canada"
                description: "The jusrisdiction of the artwork agreement of the given\
                  \ media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Right Holders"
  /rightHolders/{rightHolderId}/wallet:
    patch:
      tags:
      - "Right Holders"
      description: "Update the wallet address of a right holder"
      operationId: "patchRightHolderWallet"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The right holder's unique profile ID"
        required: true
        type: "integer"
      - in: "body"
        name: "wallet"
        description: "The right holder's wallet address"
        required: true
        schema:
          $ref: "#/definitions/rightHolder/properties/wallet"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              wallet:
                type: "string"
                example: "0xdd87ae15f4be97e2739c9069ddef674f907d27a9"
                description: "The right holder's wallet address"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Profiles"
  /rightHolders/{rightHolderId}/socialMediaLinks:
    patch:
      tags:
      - "Right Holders"
      description: "Update list of social media links for the given right holder"
      operationId: "patchRightHolderSocialMediaLinks"
      parameters:
      - name: "rightHolderId"
        in: "path"
        description: "The right holder's unique profile ID"
        required: true
        type: "integer"
      - in: "body"
        name: "socialMediaLinks"
        description: "The object containing the given right holder profile's social media links"
        required: true
        schema:
          $ref: "#/definitions/rightHolder/properties/socialMediaLinks"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/rightHolder"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Right Holders"
  /media:
    get:
      tags:
      - "Media"
      description: "Get a list of all media"
      operationId: "getAllMedia"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/medias"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
    post:
      tags:
      - "Media"
      description: "This method creates a new media item"
      operationId: "postMedia"
      parameters:
      - in: "body"
        name: "body"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/media"
      responses:
        200:
          description: "OK. The media was created."
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Media"
  /media/{mediaId}:
    get:
      tags:
      - "Media"
      description: "Get media with the given ID"
      operationId: "getMedia"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
    put:
      tags:
      - "Media"
      description: "Update media with the given ID"
      operationId: "updateMedia"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "body"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/media"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
    delete:
      tags:
      - "Media"
      description: "Delete a right holder's profile with the given ID"
      operationId: "deleteMedia"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The rights holder's unique profile ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Media"
  /media/{mediaId}/title:
    patch:
      tags:
      - "Media"
      description: "Update the title of the given media identified by ID"
      operationId: "patchMediaTitle"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "title"
        description: "The title of the artwork"
        required: true
        schema:
          $ref: "#/definitions/media/properties/title"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              title:
                type: "string"
                example: "Love You Honey"
                description: "The title of the given artwork"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/artist:
    patch:
      tags:
      - "Media"
      description: "Update the artist name of a piece of media"
      operationId: "patchMediaArtist"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "artist"
        description: "The artist name of the artwork"
        required: true
        schema:
          $ref: "#/definitions/media/properties/artist"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              description:
                type: "string"
                example: "LYB"
                description: "The artist who created the artwork"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/s3Etag:
    patch:
      tags:
      - "Media"
      description: "Update the AWS s3 Etag for given media"
      operationId: "patchMediaS3Etag"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "s3Etag"
        description: "The AWS s3 Etag string for the given media"
        required: true
        schema:
          $ref: "#/definitions/media/properties/s3Etag"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/modificationDate:
    patch:
      tags:
      - "Media"
      description: "Update the modification date of the given media"
      operationId: "patchModificationDate"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "modificationDate"
        description: "The date the rights agreement for the given media was modified"
        required: true
        schema:
          $ref: "#/definitions/media/properties/modificationDate"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              modificationDate:
                type: "string"
                format: "iso8601-date-time"
                example: "2019-01-01T15:53:00"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/publishDate:
    patch:
      tags:
      - "Media"
      description: "Update the publish date of the given media"
      operationId: "patchPublishDate"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "publishDate"
        description: "The date the given media was published"
        required: true
        schema:
          $ref: "#/definitions/media/properties/publishDate"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              publishDate:
                type: "string"
                format: "iso8601-date-time"
                example: "2019-01-01T15:53:00"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/genre:
    patch:
      tags:
      - "Media"
      description: "Update the genre of the media with the given ID"
      operationId: "patchMediaGenre"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "genre"
        description: "The genre of the artwork"
        required: true
        schema:
          $ref: "#/definitions/media/properties/genre"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              genre:
                type: "string"
                example: "Pop"
                description: "The genre of the given media."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/secondaryGenre:
    patch:
      tags:
      - "Media"
      description: "Update the secondary genre of the media with the given ID"
      operationId: "patchMediaSecondaryGenre"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "secondaryGenre"
        description: "The secondary genre of the artwork"
        required: true
        schema:
          $ref: "#/definitions/media/properties/secondaryGenre"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              secondaryGenre:
                type: "string"
                example: "Pop"
                description: "The secondary genre of the given media."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/album:
    patch:
      tags:
      - "Media"
      description: "Update the album name of the media with the given ID"
      operationId: "patchMediaAlbum"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "album"
        description: "The album of the artwork"
        required: true
        schema:
          $ref: "#/definitions/media/properties/album"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              genre:
                type: "string"
                example: "Love you Baby"
                description: "The genre of the given media."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/publisher:
    patch:
      tags:
      - "Media"
      description: "Update publisher of the media with the given ID"
      operationId: "patchMediaPublisher"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "publisher"
        description: "The publisher of the media"
        required: true
        schema:
          $ref: "#/definitions/media/properties/publisher"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              publisher:
                type: "string"
                example: "tune publishing"
                description: "The publisher name of the media with the given ID"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/lyrics:
    patch:
      tags:
      - "Media"
      description: "Update the lyrics for the given piece of media"
      operationId: "patchMediaLyrics"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "lyrics"
        description: "The lyrics for the given media"
        required: true
        schema:
          $ref: "#/definitions/media/properties/lyrics"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/inLanguages:
    patch:
      tags:
      - "Media"
      description: "Update list of languages for the lyrics for the given piece of media"
      operationId: "patchMediaInLanguages"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "inLanguages"
        description: "The object containing the languages for the given media's lyrics"
        required: true
        schema:
          $ref: "#/definitions/media/properties/inLanguages"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/isrc:
    patch:
      tags:
      - "Media"
      description: "Update the ISRC of the media with the given ID"
      operationId: "patchMediaISRC"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "isrc"
        description: "The ISRC of the artwork"
        required: true
        schema:
          $ref: "#/definitions/media/properties/isrc"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              isrc:
                type: "string"
                example: "abcdef1234567"
                description: "The isrc of the given media."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/upc:
    patch:
      tags:
      - "Media"
      description: "Update the UPC of the media with the given ID"
      operationId: "patchMediaUPC"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "upc"
        description: "The UPC of the artwork"
        required: true
        schema:
          $ref: "#/definitions/media/properties/upc"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              upc:
                type: "string"
                example: "123456789111"
                description: "The upc of the given media."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/msDuration:
    patch:
      tags:
      - "Media"
      description: "Update the duration of the media with the given ID"
      operationId: "patchMediaDuration"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "msDuration"
        description: "The duration in milliseconds of the given piece of media"
        required: true
        schema:
          $ref: "#/definitions/media/properties/msDuration"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              msDuration:
                type: "string"
                example: "122000"
                description: "The duration in milliseconds of of the given media."
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/socialMediaLinks:
    patch:
      tags:
      - "Media"
      description: "Update list of social media links for the given piece of media"
      operationId: "patchMediaSocialMediaLinks"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "socialMediaLinks"
        description: "The object containing the given piece of media's social media links"
        required: true
        schema:
          $ref: "#/definitions/media/properties/socialMediaLinks"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/streamingServiceLinks:
    patch:
      tags:
      - "Media"
      description: "Update list of streaming service links for the given piece of media"
      operationId: "patchMediaStreamingServiceLinks"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "streamingServiceLinks"
        description: "The object containing the given piece of media's streaming service links"
        required: true
        schema:
          $ref: "#/definitions/media/properties/streamingServiceLinks"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/pressArticleLinks:
    patch:
      tags:
      - "Media"
      description: "Update list of press article links for the given piece of media"
      operationId: "patchMediaPressArticleLinks"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "pressArticleLinks"
        description: "The object containing the given piece of media's press article links"
        required: true
        schema:
          $ref: "#/definitions/media/properties/pressArticleLinks"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /media/{mediaId}/playlistLinks:
    patch:
      tags:
      - "Media"
      description: "Update list of playlist links for the given piece of media"
      operationId: "patchMediaPlaylistLinks"
      parameters:
      - name: "mediaId"
        in: "path"
        description: "The artwork agreement's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "playlistLinks"
        description: "The object containing the given piece of media's playlist links"
        required: true
        schema:
          $ref: "#/definitions/media/properties/playlistLinks"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/media"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Media"
  /payments:
    get:
      tags:
      - "Payments"
      description: "Get a list of all payments' details"
      operationId: "getAllPayments"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/payments"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Payments"
    post:
      tags:
      - "Payments"
      description: "Add a new payment"
      operationId: "postPayment"
      parameters:
      - in: "body"
        name: "body"
        description: "The payment details"
        required: true
        schema:
          $ref: "#/definitions/payment"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/payment"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Payments"
  /payments/{id}:
    get:
      tags:
      - "Payments"
      description: "Get the details of a payment with the given ID"
      operationId: "getPayment"
      parameters:
      - name: "id"
        in: "path"
        description: "The payment's unique ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/payment"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Payments"
    put:
      tags:
      - "Payments"
      description: "Update the details of a payment with the given ID"
      operationId: "updatePayment"
      parameters:
      - name: "id"
        in: "path"
        description: "The payment's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "body"
        description: "The payment details"
        required: true
        schema:
          $ref: "#/definitions/payment"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/payment"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      x-swagger-router-controller: "Payments"
    delete:
      tags:
      - "Payments"
      description: "Delete a right holder's profile with the given ID"
      operationId: "deletePayment"
      parameters:
      - name: "id"
        in: "path"
        description: "The rights holder's unique profile ID"
        required: true
        type: "integer"
      responses:
        200:
          description: "OK. Payment deleted"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Payments"
  /payments/{id}/transactionId:
    patch:
      tags:
      - "Payments"
      description: "Update management societies' payment transaction ID"
      operationId: "patchPaymentTransactionID"
      parameters:
      - name: "id"
        in: "path"
        description: "The payment's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "transactionId"
        description: "The payment transaction ID"
        required: true
        schema:
          $ref: "#/definitions/payment/properties/transactionId"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              transactionId:
                type: "string"
                example: "87654321"
                description: "The management societies' transaction ID"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Payments"
  /payments/{id}/transactionHash:
    patch:
      tags:
      - "Payments"
      description: "Update blockchain transaction hash of a payment"
      operationId: "patchPaymentTransactionHash"
      parameters:
      - name: "id"
        in: "path"
        description: "The payment's unique ID"
        required: true
        type: "integer"
      - in: "body"
        name: "transactionHash"
        description: "The blockchain hash of the transaction"
        required: true
        schema:
          $ref: "#/definitions/payment/properties/transactionHash"
      responses:
        200:
          description: "OK"
          schema:
            properties:
              transactionHash:
                type: "string"
                example: "0x68a4c5ff945f8f1c0d0218466886d1e860c78cb625a2a4860e1efaf3a7c33b0c"
                description: "The transaction hash on the blockchain"
        400:
          description: "Bad request"
        403:
          description: "Permission denied"
        404:
          description: "Endpoint not found"
        500:
          description: "An unknown error occured"
      security:
      - jwt: []
      x-swagger-router-controller: "Payments"
securityDefinitions:
  basicAuth:
    description: "HTTP Basic Authentication"
    type: "basic"
  jwt:
    description: "A JSON Web Token (JWT) used for access control and authorization"
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  auth:
    properties:
      apiKey:
        type: "string"
      username:
        type: "string"
      password:
        type: "string"
  authResult:
    type: "object"
    properties:
      accessToken:
        type: "string"
        example: "fyJhbGciOiJIUzI1NiIsInR5cCI6IkpXUyJ9.eyJjb21wYW55IjoiRnV0dXJlRWQiLCJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2Z1dHVyZWVkLmRldlwvYXBpXC92MVwvc3R1ZGVudFwvbG9naW5cL3VzZXJuYW1lIiwiaWF0IjoiMTQyNzQyNjc3MSIsImV4cCI6IjE0Mjc0MzAzNzEiLCJuYmYiOiIxNDI3NDI2NzcxIiwianRpIjoiNmFlZDQ3MGFiOGMxYTk0MmE0MTViYTAwOTBlMTFlZTUifQ.MmM2YTUwMjEzYTE0OGNhNjk5Y2Y2MjEwZDdkN2Y1OTQ2NWVhZTdmYmI4OTA5YmM1Y2QwYTMzZjUwNTgwY2Y0MQ"
        description: "The JWT access token for the current session"
    example:
      accessToken: "fyJhbGciOiJIUzI1NiIsInR5cCI6IkpXUyJ9.eyJjb21wYW55IjoiRnV0dXJlRWQiLCJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2Z1dHVyZWVkLmRldlwvYXBpXC92MVwvc3R1ZGVudFwvbG9naW5cL3VzZXJuYW1lIiwiaWF0IjoiMTQyNzQyNjc3MSIsImV4cCI6IjE0Mjc0MzAzNzEiLCJuYmYiOiIxNDI3NDI2NzcxIiwianRpIjoiNmFlZDQ3MGFiOGMxYTk0MmE0MTViYTAwOTBlMTFlZTUifQ.MmM2YTUwMjEzYTE0OGNhNjk5Y2Y2MjEwZDdkN2Y1OTQ2NWVhZTdmYmI4OTA5YmM1Y2QwYTMzZjUwNTgwY2Y0MQ"
  rightHolders:
    type: "array"
    description: "An array of right holder profile information"
    items:
      $ref: "#/definitions/rightHolder"
  rightHolder:
    type: "object"
    properties:
      rightHolderId:
        type: "integer"
        example: 1
        description: "The unique ID of the given right holder profile"
      firstName:
        type: "string"
        example: "John"
        description: "The first name displayed on the right holder's profile"
      lastName:
        type: "string"
        example: "Smith"
        description: "The last name displayed on the right holder's profile"
      email:
        type: "string"
        example: "john.smith@example.com"
        description: "The email address for this right holder profile"
      password:
        type: "string"
        example: "3c9c93e0f8eb2161e5787f7cd3e4b67f8d98fbd80b7d237cc757583b06daa3e3"
        description: "The hash of the password of the given right holder's profile"
      jurisdiction:
        type: "string"
        example: "Canada"
        description: "The country that has jurisdiction over the rights of the right holder"
      ipi:
        type: "string"
        example: "00004576"
        description: "The right holder's interested party information number"
      wallet:
        type: "string"
        example: "0xdd87ae15f4be97e2739c9069ddef674f907d27a8"
        description: "The blockchain wallet address for this right holder profile"
      socialMediaLinks:
        type: "object"
        description: "The urls for the social media profiles for the given right holder, like Facebook, Instagram, Youtube, Twitter"
        additionalProperties:
          type: "string"
          description: "social media links for the given right holder profile"
    example:
      firstName: "John"
      lastName: "Smith"
      email: "john.smith@example.com"
      password: "3c9c93e0f8eb2161e5787f7cd3e4b67f8d98fbd80b7d237cc757583b06daa3e3"
      jurisdiction: "Canada"
      ipi: "00004576"
      wallet: "0xdd87ae15f4be97e2739c9069ddef674f907d27a8"
      socialMediaLinks: 
        facebook: "https://facebook.com/ex"
        twitter: "https://twitter.com/ex"
        youtube: "https://youtube.com/ex"
  medias:
    type: "array"
    description: "An array of pieces of media"
    items:
      $ref: "#/definitions/media"
  mediaIds:
    type: "array"
    description: "An array of mediaIds referencing media"
    items:
      type: "integer"
      example: 1
  media:
    properties:
      mediaId:
        type: "integer"
        example: 1
        description: "The id of this piece of media"
      title:
        type: "string"
        example: "Love You Baby"
        description: "The title of this piece of media"
      album:
        type: "string"
        example: "Love You Baby Album"
        description: "The title of the album for this piece of media"
      artist:
        type: "string"
        example: "LYB"
        description: "The artist name who created this piece of media"
      msDuration:
        type: "string"
        example: "120000"
        description: "The duration in milliseconds for the given media"
      cover:
        type: "boolean"
        example: false
        description: "Whether or not this piece of media is a cover"
      genre:
        type: "string"
        example: "Rock"
        description: "The genre of the given media"
      secondaryGenre:
        type: "string"
        example: "Hip Hop"
        description: "The secondary genre of the given media"
      creationDate:
        type: "string"
        format: "iso8601-date-time"
        example: "2019-01-01T15:53:00"
        description: "The creation date of the rights agreement for the given media"
      modificationDate:
        type: "string"
        format: "iso8601-date-time"
        example: "2019-01-01T15:53:00"
        description: "The date the rights agreement for the given media was modified"
      publishDate:
        type: "string"
        format: "iso8601-date-time"
        example: "2019-01-01T15:53:00"
        description: "The date of first broadcast/publication for the given media"
      publisher:
        type: "string"
        example: "sync publishing"
        description: "The publisher for the given media (Left blank if no publisher)"
      lyrics:
        type: "string"
        description: "The lyrics of the given media"
        example: "Love you Baby. Love you Baby. Love you Baby. Love you Baby.
        Love you Baby. Baby. Wooo. Love You Baby."
      inLanguages:
        type: "array"
        description: "An array of languages of the lyrics for the given media"
        items:
          type: "string"
          example: "english"
      isrc:
        type: "string"
        description: "The ISRC of the given media"
        example: "abcde1234567"
      upc:
        type: "string"
        description: "The UPC of the given media"
        example: "123456789111"
      socialMediaLinks:
        type: "object"
        description: "The urls for the given media for social media like Facebook, Instagram, and Twitter."
        additionalProperties:
          type: "string"
          description: "social media links for the given media" 
      streamingServiceLinks:
        type: "object"
        description: "The urls for the given media for streaming services like Spotify and Apple Music"
        additionalProperties:
          type: "string"
          description: "streaming service links for the given media" 
      pressArticleLinks:
        type: "object"
        description: "The urls for news articles about the given media like music blogs and newspapers"
        additionalProperties:
          type: "string"
          description: "press article links for the given media" 
      playlistLinks:
        type: "object"
        description: "The urls for playlists of similar songs to the given media like Spotify or Youtube playlists"
        additionalProperties:
          type: "string"
          description: "playlist links for the given media" 
      s3Etag:
        type: "string"
        description: "The ETag in AWS S3 for the given media"
        example: "2f03d99fbf37d8d585285fd4cce27feb"
    example:
      [
        {
          title: "Love You Baby",
          artist: "LYB",
          genre: "Rock",
          secondaryGenre: "Pop",
          creationDate: "2019-01-01T15:53:00",
          modificationDate: "2019-01-01T15:53:01",
          publishDate: "2019-01-01T15:53:02",
          cover: false,
          isrc: "abcde1234567",
          upc: "123456789111",
          publisher: "sync publishing",
          msDuration: "288000",
          lyrics: "Love you Baby. Love you Baby. Love you Baby. Love you Baby.
          Love you Baby. Baby. Wooo. Love You Baby.",
          inLanguages: ["english"],
          socialMediaLinks: {facebook: "https://facebook.com/ex", twitter: "https://twitter.com/ex", youtube: "https://youtube.com/ex"},
          streamingServiceLinks: {spotify: "https://open.spotify.com/track/asdgj4qhfasd", apple: "https://twitter.com/ex"},
          pressArticleLinks: {medium: "https://medium.com/ex", metro: "https://metro.ca/ex"},
          playlistLinks: {spotify: "https://open.spotify.com/playlist/37i9dQZEVXbKfIuOAZrk7G", youtube: "https://www.youtube.com/playlist?list=PLgzTt0k8mXzEk586ze4BjvDXR7c-TUSnx"},
          s3Etag: "2f03d99fbf37d8d585285fd4cce27feb"
        }
      ]
  listSplits:
    type: "array"
    description: "An array of information about splits"
    items:
      $ref: "#/definitions/splits"
  splits:
    type: "object"
    properties: 
      uuid:
        type: "string"
        example: "45745c60-7b1a-11e8-9c9c-2d42b21b1a3e"
        description: "The unique ID for the given split"
      emailToken:
        type: "string"
        example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
        description: "The email token for the given split"
      splitType:
        type: "array"
        items:
          type: "string"
          description: "Types of copyright for the given media" 
        example: ["workCopyrightSplit", "performanceNeighboringRightSplit", "masterNeighboringRightSplit"] 
      mediaId:
        type: "integer"
        example: 1
    example:
      {
        uuid: "45745c60-7b1a-11e8-9c9c-2d42b21b1a3e",
        emailToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
        splitType: "workCopyrightSplit",
        mediaId: 1
      }
  rightsSplits:
    type: "array"
    description: "An array of information about rights splits"
    items:
      $ref: "#/definitions/rightsSplits"
  rightsSplit:
    type: "object"
    properties: 
      id:
        type: "integer"
        example: 1
        description: "The primary key ID for the given rights split record"
      splitUuid:
        type: "string"
        example: "45745c60-7b1a-11e8-9c9c-2d42b21b1a3e"
        description: "The unique ID for the given split"
      rightHolderId:
        type: "integer"
        example: 1
        description: "The ID for the given right holder"
      splitPct:
        type: "number"
        example: 41.6667
        description: "The percentage split of the given right holder for the given rights split"
      state:
        type: "string"
        example: "active"
        description: "The state of the given rights split"
      roles:
        type: "object"
        additionalProperties:
          type: "string"
          description: "the role(s) of the right holder for the given right split"
    example:
      {
        id: 1,
        splitUuid: "45745c60-7b1a-11e8-9c9c-2d42b21b1a3e",
        rightHolderId: 1,
        splitPct: 41.6667,
        state: "active",
        contributorRole: {"45745c60-7b1a-11e8-9c9c-2d42b21b1a3e": "writer"}
      }
  payments:
    type: "array"
    description: "An array of information about payments"
    items:
      $ref: "#/definitions/payment"
  payment:
    type: "object"
    properties:
      id:
        type: "integer"
        example: 1
        description: "Media ID related to this payment"
      amount: 
        type: "number"
        example: 20
        description: "The amount of the payment in $ CAD"
      payee: 
        type: "number"
        example: 2
        description: "The ID of the profile of the creator who was paid"
      transactionId:
        type: "string"
        example: "12345678"
        description: "The transaction string of the management company for this payment"
      transactionHash:
        type: "string"
        example: "0x58a4c5ff945f8f1c0d0218466886d1e860c78cb625a2a4860e1efaf3a7c33b0c"
        description: "The blockchain transaction hash for this payment"
    example:
      transactionId: "12345678"
      id: 1
      amount: 20
      payee: 1
      transactionHash: "0x58a4c5ff945f8f1c0d0218466886d1e860c78cb625a2a4860e1efaf3a7c33b0c"